.carousel {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;

  &__card {
    height: 324px;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.6);
  }
}
