.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(47, 47, 47);
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__left {
    margin-bottom: 1rem;

    .link {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      display: block;
      margin-top: 1rem;
    }
    link:hover {
      color: darken($color: white, $amount: 20);
    }
  }

  .footer__right {
    p {
      margin-top: 1rem;
    }
  }
}
